@media screen and (max-width: 625px) {
    html {
        font-size: 40%;
    }

    header .hamburger {
        display: flex;
    }

    header nav {
        position: absolute;
        top: 9.5rem;
        right: -20rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 30rem;
        background-color: white;
        transition: .8s;
    }

    header nav.active {
        right: 1.5rem;
    }

    header nav a {
        color: black;
        border-bottom: 1px dotted black;
        width: 100%;
    }
    

    section#home #apresentation h1 {
        font-size: 5rem;
    }

    section#home #apresentation p {
        font-size: 15px;
    }

    section#contact h2  {
        font-size: 4.5rem;
        padding: 3rem 0;
    }

    #contact-contaimer #form-control {
        display: block;
        flex-direction: column;
        width: 100%;
    }

    #contact-contaimer input,
    #contact-contaimer textarea {
        margin: 1rem 0;
        width:  100%;
    }

    footer p {
        text-align: center;
    }
}

