@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 3.s;
}

:root {
    --main-color: #090E22;
    --second-color: #90eb36;
    --white-color: white;
    --lightgreen-color: lightgreen;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 65.5%;
    background-color: var(--main-color);
    scrollbar-color: var(--second-color) transparent;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    font-size: 16px;
}

h2.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2.5rem;
    color: var(--white-color);
}

h2.title span {
    color: var(--second-color);
}

p {
    color: var(--white-color);
}

/* header  */

header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: .5rem 3rem;
 z-index: 5;
 width: 100%;
 height: 60px;
}

header.active {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);

}

header.show {
    transform: translateY(0);
    transition: 1s;
}


header a span#logo {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Monoton", sans-serif;
    color: var(--second-color);
    text-transform: uppercase;
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
}

header nav a {
    color: var(--white-color);
    z-index: 6;
    position: relative;
}

header nav a:hover {
    color: var(--second-color);
}

header nav a::after {
    content: '';
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    border-radius: 10px;
    transform: scale(0, 1);
    transition: transform .5s ease;
}

header nav a:hover::after {
    width: 100%;
    transform: scale(1.1);
}

/* main */

/* home */
section#home {
    height: 100vh;
    width: 100%;
    margin-top: -75px;
    position: relative;
}

section#home #apresentation {
    position: absolute;
    left: 5%;
    top: 245px;
}

section#home #apresentation h1 {
    font-size: 4rem;
    color: var(--white-color);
    font-weight: 600;
}

section#home #apresentation p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--second-color);
    margin-bottom: .7rem;
}

section#home #apresentation #skills i {
    font-size: 50px;
    width: 50px;
    margin-right: 5px;
}

section#home #apresentation #skills i:nth-child(1) {
    color: #e34f26;
}

section#home #apresentation #skills i:nth-child(2) {
    color: #1572b6;
}

section#home #apresentation #skills i:nth-child(3) {
    color: #f7df1e;
}

section#home #apresentation #skills i:last-child {
    color: #61dafb;
}

/* about-me */
section#about-me {
    padding: 20% 7%;
    height: 100%;
}

section#about-me #me-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
}

section#about-me #me-container figure {
    flex: 1 1 30rem;
}

section#about-me #me-container figure img {
    width: 100%;
    border-radius: 3rem;
}

section#about-me #me-container article {
    flex: 1 1 35rem;
    padding-left: .5rem;
    height: 100%;
    position: relative;
}

section#about-me #me-container article::before {
    content: '';
    width: 1rem;
    height: 100%;
    border-radius: 10px;
    background-color: var(--second-color);
    position: absolute;
    left: -2rem;
}

section#about-me #me-container article h3 {
    line-height: 1;
    font-size: 3.5rem;
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

section#about-me #me-container article p {
    line-height: 2;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 1.5rem;
    text-indent: 1.5rem;
}

/* project */

section#project {
    padding: 25% 7%;
    height: 100%;
}


section#project #project-container .project-box,
section#project #project-container .projec-box-reverse {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    margin-bottom: 5.5rem;
}

section#project #project-container .projec-box-reverse {
    flex-direction: row-reverse;
}

section#project #project-container .project-box figure, 
section#project #project-container .projec-box-reverse figure  {
    flex: 1 1 30rem;
}

section#project #project-container .project-box figure img, 
section#project #project-container .projec-box-reverse figure img {
    width: 100%;
    height: 100%;
}


section#project #project-container .project-box article , 
section#project #project-container .projec-box-reverse article {
    flex: 1 1 20rem;
}

/* animations */
section#home #apresentation h1,
section#home #apresentation p {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showApresentations .7s 1 forwards;
}


@keyframes showApresentations {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

section#home #apresentation p {
    animation-delay: .3s;
}


/* animations skills */
section#home #apresentation #skills i:nth-child(1) {
    transform: translateX(-20px);
    opacity: 0;
    animation: affectSkills .5s .2s 1 ease-in forwards;
}

section#home #apresentation #skills i:nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
    animation: affectSkills .5s .7s 1 ease-in forwards;
}

section#home #apresentation #skills i:nth-child(3) {
    transform: translateX(-20px);
    opacity: 0;
    animation: affectSkills .5s 1.3s 1 ease-in forwards;
}

section#home #apresentation #skills #react-container {
    display: inline-block;
    transform: translateX(-20px);
    opacity: 0;
    animation: affectSkills .5s 1.9s 1 ease-in forwards;
}

section#home #apresentation #skills #react-container i {
    animation: rotateReact 3.5s 2s linear infinite forwards;
    opacity: 1;
}

@keyframes affectSkills {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotateReact {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
